.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
}

.time-display {
    display: flex;
    padding-right: 345px;
}

.instructions {
    display: flex;
    border-style: double;
    padding: 5px 50px 5px;
    margin-bottom: 15px;
    margin-top: 90px;
    background-color: rgb(250, 250, 216);
    flex-direction: column;
}